/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html, body, main, section, article, h1, h2, p {
    margin: 0;
    border: 0;
    padding: 0;

    font: inherit;
    text-align: inherit;
    text-decoration: inherit;
    color: inherit;
    background: transparent;
}
body {
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
    color: yellow;
}
.flex {
    display: flex;
}
header {
    background-color: #000066;
    width: 100%;
    height: 60px;
}
header h1 {
    margin-left: 20px;
    line-height: 100%;
}
a {
    color: yellow;
}
h1 {
    font-size: 60px;
}
main {
    background: transparent;
    font-size: 30px;
}
.index-cats {
    margin: 50px auto;
    width: 920px;
    background-color: #009999;
}
nav {
    background-color: #000066;
    justify-content: space-between;
    align-items: center;
}
nav a {
    padding: 0 10px;
    font-size: 30px;
}
.cat-index {
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 30px;
}
.cat-index-item {
    padding: 20px;
    margin: 20px 0;
    width: 235px;
    height: 280px;
    align-items: center;
    justify-content: center;
    background-color: #000066;
}
.page {
    justify-content: space-around;
}
.centered-box {
    background-color: #009999;
    width: 500px;
    margin: 50px 0;
    text-align: center;
    padding: 50px;
}
table {
    background-color: white;
    margin: auto;
}
th {
    background-color: #000066;
    padding: 10px 20px;
}
td {
    color: black;
}

